{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Product{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h3>{{ product['ProductName'] }}</h3>
  {% if product['Discontinued'] %}
    <p>Sorry, this product is discontinued</p>
  {% else %}
    <ul>
      <li>Unit Price: ${{"%.2f"|format(product['UnitPrice'])}}</li>
      <li>Quantity per Unit: {{ product['QuantityPerUnit'] }}</li>
      <li>Units in Stock: {{ product ['UnitsInStock'] }}</li>
    </ul>
    <form method="post" id="add-to-cart" action="{{ url_for('cart.add_to_cart') }}">
      {{ form.hidden_tag() }}
      {{ form.quantity.label }} 
      {{ form.quantity() }}

      {{ form.add.label }} 
      {{ form.add() }}
    </form>
  {% endif %}
{% endblock %}