{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="POST" id="search">
    <label for="search">Search</label>
    <input 
    type="text" placeholder="Name or Type of Product" 
    name="search" id="search" value="{{ search_query or '' }}">
    <button for="search" type="submit" value="Submit">Submit</button>
</form>

<form method="POST">
    <label for="category">Select Category:</label>
    <select name="category" id="category" onchange="this.form.submit()">
        <option value="All" {% if not selected_category or selected_category == "All" %}selected{% endif %}All Products </option>
            {% for category in categories %}
            <option value="{{ category['CategoryName'] }}" {% if selected_category == category['CategoryName'] %}selected{% endif %}>
                {{ category['CategoryName'] }}
            </option>
            {% endfor %}
    </select>
</form>

<h2> 
  {% if selected_category and selected_category != "All" %}
  Products in "{{ selected_category }}"
  {% elif search_query %}
  Search results for "{{ search_query }}"
  {% else %}
  All Products
  {% endif %}
</h2>

  {% for product in items %}
    <article class="product">
      <header>
        <div>
          <h1>{{ product['ProductName'] }}</h1>
          <div class="about">Unit Price: ${{ product['UnitPrice'] }}</div>
        </div>
      </header>
      <p class="body"> Quantity per Unit: {{ product['QuantityPerUnit'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}