{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} HOME{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2> Browse Products by Category</h2>

<form method="POST">
    <label for="category">Select Category:</label>
    <select name="category" id="category" onchange="this.form.submit()">
        <option value="All" {% if not selected_category or selected_category == "All" %}selected{% endif %}All Products </option>
            {% for category in categories %}
            <option value="{{ category['CategoryName'] }}" {% if selected_category == category['CategoryName'] %}selected{% endif %}>
                {{ category['CategoryName'] }}
            </option>
            {% endfor %}
    </select>
</form>

<h2> 
    {% if selected_category and selected_category != "All" %}
    Products in "{{ selected_category }}"
    {% else %}
    All Products
    {% endif %}
</h2>

  {% for product in items %}
    <article class="product">
      <header>
        <div>
          <h1>{{ item['ProductName'] }}</h1>
          <div class="about">Unit Price: ${{ item['UnitPrice'] }}</div>
        </div>
      </header>
      <p class="body"> Quantity per Unit: {{ item['QuantityPerUnit'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
<div>
  <form method="post" id="search">
    <label for="search">Search</label>
    <input 
    type="text" placeholder="Name or Type of Product" 
    name="search" id="search">
    <button for="search" type="submit" value="Submit">Submit</button>
</form>
</div>

{% block search_content %}{% endblock %}

{% endblock %}