{% extends 'base.html' %}


{% block header %}
  <h1 class="display-4 mb-3">Favorite Dances</h1>
  <p class="lead">All of your favorite dances</p>
{% endblock %}

{% block content %}
    {% for fav in favorites %}
    <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ fav['dance_name'] }}</h5>
            <p class="card-text">
              <small class="text-muted">
                <i class="bi bi-calendar3 me-1"></i>
                Date favorited: {{ fav['date_added'] }}
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Rating:
                {% if fav['rating'] is none %}
                  {% for i in range(5) %}
                    <i class="bi bi-star text-warning"></i>
                  {% endfor %}
                {% else %}
                {% for i in range(fav['rating']) %}
                  <i class="bi bi-star-fill text-warning"></i>
                {% endfor %}
                {% for i in range(5 - fav['rating']) %}
                  <i class="bi bi-star text-warning"></i>
                {% endfor %}
                {% endif %}
              </small>
            </p>
            <button type="button"
                        class="btn btn-sm btn-outline-danger mt-2"
                        data-dance-id="{{ fav['dance_id'] }}"
                        onclick="removeFromFavorites(this)">
                    <i class="bi bi-x-circle me-1"></i>Remove
                </button>
          </div>
        </div>
      </div>
      
        {% else %}
        <p>No favorites found for this user.</p>
    {% endfor %}
    

    <script>
      function removeFromFavorites(button) {
          const danceId = button.getAttribute('data-dance-id');
          console.log("danceID: ", danceId)
      
          fetch('/favorites', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ danceId, action: 'remove' })
          })
          .then(res => res.json())
          .then(data => {
              if (data.status === 'removed') {
                  
                  const card = button.closest('.col');
                  if (card) card.remove();
  
                  alert('Dance removed from Favorites');
                  location.reload();
              } else {
                  alert('Error removing dance.');
              }
          })
          .catch(err => {
              console.error('Error:', err);
              alert('Request failed.');
          });
      }
      </script>
{% endblock %}
